// Place all the styles related to the api/notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note-form-container {
display: flex;
flex-direction: column;
text-align: center;
box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
width: 100%;
// background-color: red;
height: fit-content;
}
.title {
  border-bottom: none;
  padding: 15px;
}
// .body {
//   height: 20vh;
// }

.input-box{
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: .5px solid darkgrey;
  border-radius: 6px;
  padding: 1px;
}
// .input-box:focus-within {
//   height: 20vh;
//   input{
//     padding: 15px;
//   }
// }


.note-form {
 
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
  color: #e8eaed;
  input {
    background-color: rgb(31, 31, 31);
    border: none;
    // padding: 15px;
    height: 50%;
    // border-radius: 6px;
    color: lightgray;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 14px;
    outline: none;
   
  } 

  input::placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  button {
    background: none;
    border: none;
    color: lightgray;
    cursor: pointer;
    width: fit-content;
    
  }
}


.body {
  border-top: none;
  font-weight: 400;
  padding: 15px;
  line-height: 1.25rem;
  font-size: .875rem;
  
}
.button-container {
  display: flex;
  justify-content: flex-end;
}

.close {
 margin-right: 20px;
 margin-bottom: 10px;
 font-size: 16px;
}






