.update-note-form-container {
display: inline-block;
text-align: center;
box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
width: 60vw;
max-width: 600px;

height: fit-content;
background-color: rgb(51, 51, 51)
}
.title {
  border-bottom: none;
  padding: 15px;
}

.update-note-form {
 
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
  color: #e8eaed;
  input {
    background-color: rgb(51, 51, 51);
    border: none;
    // padding: 15px;
    height: 50%;
    // border-radius: 6px;
    color: lightgray;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 14px;
    outline: none;
   input::placeholder {
    font-size: 16px;
    font-weight: 700;
  }
  }
} 

  .update-input-box{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: .5px solid darkgrey;
    border-radius: 6px;
    padding: 1px;
    min-height: 200px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.update-button {
background: none;
    border: none;
    color: lightgray;
    cursor: pointer;
    width: fit-content;
    margin: 15px;
}

  .buttons {
    display: flex;
    justify-content: space-between;
  }